

<div class="p-grid">
  <div class="p-col-4">
    <div class="form-group">
      <select class="form-control" id="sel1" (change)=refreshPrenotazioniByDoctor($event.target.value)>
        <option>Seleziona il dottore</option>
        <option *ngFor="let dottore of dottori;let i = index" [value]="i">{{dottore.nome}} {{dottore.cognome}}</option>
      </select>
    </div>
  </div>
  <div class="p-col-4">
    <p-calendar [(ngModel)]="data" placeholder="Seleziona data" dateFormat="dd-mm-yy" (onSelect)=refreshPrenotazioniByDoctor(null)></p-calendar>
  </div>
  <div class="p-col-4">
    <button pButton type="button" label="Salva" icon="pi pi-check" (click)=salva()></button>
  </div>
</div>

<p-toast key="saved" position="bottom-right"></p-toast>


<div cdkDropListGroup class="p-grid">
  <div class="example-container" class="p-col-4">
    <h2>RICHIESTE</h2>

    <div
      cdkDropList
      [cdkDropListData]="richieste"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event,'richieste')">
      <div class="example-box" *ngFor="let item of richieste" cdkDrag (click)=refresh(item)>{{item.descrizione}}</div>
    </div>
  </div>

  <div class="example-container" class="p-col-4">
    <h2>URGENTI</h2>

    <div
      cdkDropList
      [cdkDropListData]="urgenti"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event,'urgenti')">
      <div class="example-box" *ngFor="let item of urgenti" cdkDrag (click)=refresh(item)>{{item.descrizione}}</div>
    </div>
  </div>

  <div class="example-container" class="p-col-4">
    <h2>ACCETTATE</h2>

    <div
      cdkDropList
      [cdkDropListData]="prenotazioni_accettate"
      class="example-list"
      (cdkDropListDropped)="drop($event,'prenotazioni_accettate')">
      <div class="example-box" *ngFor="let item of prenotazioni_accettate" cdkDrag (click)=refresh(item) [cdkDragDisabled]="!item.id">{{item.descrizione}}</div>
    </div>
  </div>
</div>
