
  <!--<div *ngFor="let prenotazione of prenotazioniUrgenti">
    <p>{{prenotazione.descrizione}}</p>
  </div>
-->
  
  <h1 align="center">LISTA PRENOTAZIONI</h1>
  
  <ul class="list-group" >
    <ng-container *ngFor="let prenotazione of prenotazioniAttesa">
      <div *ngIf="prenotazione.confermato; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><li id="{{prenotazione.id}}" class="list-group-item list-group-item-success" (click)=refresh(prenotazione)>{{prenotazione.descrizione}} <img align="right" src="/assets/trash.png" /></li></ng-template>
      <ng-template #elseBlock><li id="{{prenotazione.id}}" class="list-group-item list-group-item-warning" (click)=refresh(prenotazione)>{{prenotazione.descrizione}} <img align= "right" src="/assets/trash.png" (click)=deletePrenotazione(prenotazione)/></li></ng-template>
    </ng-container>
  </ul>


  



