<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class= "container">
  <hr>
  <div class="row justify-content-md-center">
    <h2 class="text-center" id="title">Veterinary clinic </h2>
  </div>
    <p class="row justify-content-md-center">
      <small id="passwordHelpInline" class="text-muted"> Developer: follow me on facebook <a href="https://www.facebook.com/JheanYu"> John niro yumang</a> inspired from <a href="https://p.w3layouts.com/">https://p.w3layouts.com/</a>.</small>
    </p>
     <hr>
</div>
<div class="row justify-content-md-center">
  <div class="column  col-sm-4 ">

  </div>
  <div class="column  col-sm-4 ">
    
    <div class="registration-form">
      
      <input type="text" id="inputemail" class="form-control" placeholder="Email" [(ngModel)]="email">
      <br>
      <input type="password" id="inputpassword" class="form-control" placeholder="Password" [(ngModel)]="password">
      <br>
    
      <div class="row justify-content-md-center">
        <div class="col-12">
        <button type="button" class="btn btn-outline-secondary">
          <div class="form-icon paziente" (click)=setTipo(1)>
            <span><i class="icon icon-user"></i></span>
          </div>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <div class="form-icon dottore" (click)=setTipo(2)>
            <span><i class="icon icon-user"></i></span>  
          </div>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <div class="form-icon segretaria" (click)=setTipo(3)>
            <span><i class="icon icon-user"></i></span>            
          </div>
      </button>
      </div> 
      </div>

    <button class="form-control btn-login" (click)=login() >LOGIN</button>
    <a href="registrazione">Registrati</a>

    </div>
  </div>

  <div class="column  col-sm-4 ">

  </div>
 
  <p-toast key="saved" position="bottom-right"></p-toast>
  
</div>

