<div class= "container">
  <hr>
  <div class="row justify-content-md-center">
    <h2 class="text-center" id="title">Veterinary clinic </h2>
  </div>
     <hr>
</div>
<div class="row">
  <div class="column col-sm-4">
  </div>
  <div class="column col-sm-4">
    <div class="registration-form">
    
      <input type="text" id="inputNome" class="form-control" placeholder="Nome" [(ngModel)]="nome">
      <br>
      <input type="text" id="inputCognome" class="form-control" placeholder="Cognome" [(ngModel)]="cognome">
      <br>
      <input type="text" id="inputCodiceFiscale" class="form-control" placeholder="CodiceFiscale" [(ngModel)]="codice_fiscale">
      <br>
      <input type="text" id="inputnumeroTelefono" class="form-control" placeholder="Numero di telefono" [(ngModel)]="numero_telefono">
      <br>
      <input type="text" id="inputemail" class="form-control" placeholder="Email" [(ngModel)]="email">
      <br>
      <input type="password" id="inputpassword" class="form-control" placeholder="Password" [(ngModel)]="password">
      <br>
      <ng-container id="divLogin" *ngIf="tipo_registrazione == 'dottore'; then inputDottore else null"></ng-container>
      <ng-template #inputDottore>
        <input type="text" id="inputCodice_identificativo_veterinario" class="form-control" placeholder="Codice Identificativo Veterinario" [(ngModel)]="codice_identificativo_veterinario">
        <br>
      </ng-template>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon paziente" (click)=setTipo(1)>
              <span><i class="icon icon-user"></i></span>
            </div>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon dottore" (click)=setTipo(2)>
              <span><i class="icon icon-user"></i></span>  
            </div>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon segretaria" (click)=setTipo(3)>
              <span><i class="icon icon-user"></i></span>            
            </div>
          </button>      
        </div>
      </div>

      <button class="form-control btn-registration" (click)=registrazione() >Registrazione</button>
      <a href="login">Torna al Login</a>
  
    </div>
  </div>
  <div class="column col-sm-4">
  </div>

  <p-toast key="saved" position="bottom-right"></p-toast>

</div>


  
 


 
  
