<app-menu-bar></app-menu-bar>

<div class="p-grid">

  <div class="p-col-1"></div>

  <div class="p-col-4" *ngIf="whoIsLogged=='dottore'">
    <h1>Lista pazienti</h1>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Cerca paziente" [(ngModel)]="valoreRicerca" (keypress)=ricerca()/>
    </span>
    <div id="risultatoRicerca"> 
      <p-card *ngFor="let paziente of pazienti" (click)=selezionato(paziente)>
        <h1>{{paziente.nome}} {{paziente.cognome}}</h1>
      </p-card>
    </div>
  </div>

  <div class="p-col-6" *ngIf="pazienteSelezionato!=null">
    <p-card>
      <p-header class="p-grid">
        <div class="p-col-1"></div>
        <h1 class="p-col-3">{{pazienteSelezionato.nome}} {{pazienteSelezionato.cognome}}</h1>
        <button *ngIf="whoIsLogged=='dottore'" pButton type="button" icon="pi pi-plus" label="Inserisci Prenotazione" (click)=showFormInserisciPrenotazione() class="p-col-2 p-button-warning"></button>
        <button *ngIf="whoIsLogged=='dottore'" pButton type="button" icon="pi pi-info-circle" label="Vista globale" (click)=show() class="p-col-2"></button>
        <button pButton type="button" label="Salva" icon="pi pi-save" (click)=salva() class="p-col-2 p-button-success"></button>
        <div class="p-col-1"></div>
      </p-header>
      <div class="p-grid">
        <label class="p-col-2">Codice Fiscale: </label>
        <p class="p-col-10">{{pazienteSelezionato.codice_fiscale}}</p>
      </div>
      <hr>
      <div class="p-grid">
        <label class="p-col-2">Numero di telefono: </label>
        <p class="p-col-10">{{pazienteSelezionato.numero_telefono}}</p>
      </div>
      <hr>
      <div class="p-grid">
        <label class="p-col-2">E-mail: </label>
        <p class="p-col-10">{{pazienteSelezionato.email}}</p>
      </div>
      <hr>
      <div class="p-grid">
        <label class="p-col-2">Animale: </label>
        <p-dropdown class="p-col-8" [options]="this.pazienteSelezionato.animale" [(ngModel)]="this.animaleSelezionato" optionLabel="nome"></p-dropdown>
        <div class="p-col-2">
          <button pButton type="button" label="Inserisci Animale" icon="pi pi-plus" (click)= showDialogAnimale() class=" p-button-success"></button>
        </div>
        </div>
      <p-tabView>
        <p-tabPanel header="Animale" >
          <div class="p-grid" *ngIf="pazienteSelezionato.animale">
            <span class="p-float-label p-col-4">
              <input id="inputNome" type="text" pInputText [(ngModel)]="this.animaleSelezionato.nome"> 
              <label for="inputNome">Nome</label>
            </span>
            <span class="p-float-label p-col-4"> 
              <!-- <label for="inputData">Data Nascita</label> float label doesn't work with p-calendar -->
              <p-calendar id="inputData" class="p-col-4" [(ngModel)]="this.animaleSelezionato.data_nascita" dateFormat="dd-mm-yy"></p-calendar>
            </span>
            <span class="p-float-label p-col-4">
              <input id="inputGenere" type="text" pInputText [(ngModel)]="this.animaleSelezionato.genere"> 
              <label for="inputGenere">Genere</label>
            </span>
          </div>
          <hr>
          <div class="p-grid" *ngIf="pazienteSelezionato.animale">
            <span class="p-float-label p-col-4">
              <input id="inputTipo" type="text" pInputText [(ngModel)]="this.animaleSelezionato.tipo"> 
              <label for="inputTipo">Tipo</label>
            </span>
            <span class="p-float-label p-col-4">
              <input id="inputPeso" type="text" pInputText [(ngModel)]="this.animaleSelezionato.peso"> 
              <label for="inputPeso">Peso (Kg)</label>
            </span>
            <span class="p-float-label p-col-4">
              <input id="inputAltezza" type="text" pInputText [(ngModel)]="this.animaleSelezionato.altezza"> 
              <label for="inputAltezza">Altezza (cm)</label>
            </span>
          </div>
          <hr>
  
        </p-tabPanel>

        <p-tabPanel header="Prescrizioni">
          <p-fileUpload *ngIf="whoIsLogged=='dottore'" name="myfile[]" customUpload="true" multiple="multiple" (uploadHandler)="onUploadPrescrizioni($event)" accept="application/pdf">
          </p-fileUpload>
          <div id="pdfList" *ngFor="let prescrizione of prescrizioni">
            <button *ngIf="prescrizione.animale.id==this.animaleSelezionato.id" pButton type="button" label="Download Prescrizione {{prescrizione.id}} associata all'animale {{prescrizione.animale.nome}}" class="p-button-text" (click)=downloadPrescrizione(prescrizione)></button>
          </div>
        </p-tabPanel>


        <p-tabPanel header="Ricevute">
          <p-fileUpload *ngIf="whoIsLogged=='dottore'" name="myfile[]" customUpload="true" multiple="multiple" (uploadHandler)="onUploadRicevute($event)" accept="application/pdf">
          </p-fileUpload>
          <div id="ricevuteList" *ngFor="let ricevuta of ricevute">
            <button *ngIf="ricevuta.animale.id==this.animaleSelezionato.id" pButton type="button" label="Download Ricevuta {{ricevuta.id}} associata all'animale {{ricevuta.animale.nome}}" class="p-button-text" (click)=downloadRicevuta(ricevuta)></button>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Esami medici">
          <p-fileUpload *ngIf="whoIsLogged=='dottore'" name="myfile[]"  customUpload="true" multiple="multiple" (uploadHandler)="showDialogDescrizione($event)" accept="application/pdf">
          </p-fileUpload>
          <div class="p-grid">
           </div>
          <hr>
          <table style="width:100%">
            <tr>
              <th>Descrizione esame</th>
              <th class="tuttoadestra">Download</th>
            </tr>
              <!--<div id="esamiList" *ngFor="let esame of esami"> -->
           
              <tr id="esamiList" *ngFor="let esame of esami">
                <td>{{esame.descrizione}} di {{esame.animale.nome}}</td>
                <td class="tuttoadestra">             
                   <button *ngIf="esame.animale.id==this.animaleSelezionato.id" pButton type="button" label="Download"  class="p-button-text"  (click)=downloadEsame(esame)></button>
                </td>

              </tr>
              <!--
              <button *ngIf="esame.animale.id==this.animaleSelezionato.id" pButton type="button" label="Download Esame {{esame.id}} associato all'animale {{esame.animale.nome}}" class="p-button-text" (click)=downloadEsame(esame)></button>
              <p>Descrizione esame: {{esame.descrizione}}</p>
              -->
              <!--</div> -->
          </table>  
        </p-tabPanel>
      </p-tabView>

    </p-card>
  </div>
  <div class="p-col-1"></div>
</div>


<p-toast key="saved" position="bottom-right"></p-toast>



<p-dialog header="Inserisci prenotazione" [(visible)]="display" [style]="{width: '70vw', heigth: '200vw'}">
  <div class="p-grid">
    <label for="inputProblema" class="p-col-3">Descrizione: </label>
    <textarea id="inputProblema" [rows]="3" [cols]="57" pInputTextarea autoResize="autoResize" [(ngModel)]="problema" value="problema"></textarea> 
  </div>
  <div class="p-grid">
    <label for="inputData" class="p-col-3">Data visita: </label>
    <p-calendar id="inputData" [(ngModel)]="data" (onSelect)=refreshSlot() class="p-col-6" dateFormat="dd-mm-yy"></p-calendar>
  </div>
  <div class='p-grid'>
    <label for="inputSlotLiberi" class="p-col-3">Slot liberi: </label>
    <p-dropdown class="p-col-6" [options]="this.slotLiberi" [(ngModel)]="this.slotSelezionato"></p-dropdown>
  </div>
  <div class='p-grid'>
    <button pButton type="button" label="Salva" icon="pi pi-save" (click)=inserisciPrenotazione() class="p-col-2 p-button-success"></button>
  </div>
  <div id="test"></div>
</p-dialog>

<p-dialog header="Inserisci animale" [(visible)]="displayAnimale" [style]="{width: '70vw', heigth: '200vw'}">
  <div class="p-grid" >
    <span class="p-float-label p-col-4">
      <input id="inputNome" type="text" pInputText [(ngModel)]="this.newAnimale.nome"> 
      <label for="inputNome">Nome</label>
    </span>
    <span class="p-float-label p-col-4"> 
      <!-- <label for="inputData">Data Nascita</label> float label doesn't work with p-calendar -->
      <p-calendar id="inputData" class="p-col-4" [(ngModel)]="this.newAnimale.data_nascita" dateFormat="dd-mm-yy"></p-calendar>
    </span>
    <span class="p-float-label p-col-4">
      <input id="inputGenere" type="text" pInputText [(ngModel)]="this.newAnimale.genere"> 
      <label for="inputGenere">Genere</label>
    </span>
  </div>
  <hr>
  <div class="p-grid" >
    <span class="p-float-label p-col-4">
      <input id="inputTipo" type="text" pInputText [(ngModel)]="this.newAnimale.tipo"> 
      <label for="inputTipo">Tipo</label>
    </span>
    <span class="p-float-label p-col-4">
      <input id="inputPeso" type="text" pInputText [(ngModel)]="this.newAnimale.peso"> 
      <label for="inputPeso">Peso (Kg)</label>
    </span>
    <span class="p-float-label p-col-4">
      <input id="inputAltezza" type="text" pInputText [(ngModel)]="this.newAnimale.altezza"> 
      <label for="inputAltezza">Altezza (cm)</label>
    </span>
  </div>
  <hr>
  <button pButton type="button" label="Salva" icon="pi pi-save" (click)= inserisciAnimale() class="p-col-2 p-button-success"></button>
      
</p-dialog>


<p-dialog header="Inserisci descrizione esame medico" [(visible)]="display_descrizione">
  <div class="p-grid">
    <label for="inputDescrizione" class="p-col-3">Descrizione: </label>
    <textarea id="inptDescrizione" [rows]="3" [cols]="57" pInputTextarea autoResize="autoResize" [(ngModel)]="descrizione" value="descrizione"></textarea> 
    <button pButton type="button" label="Salva" icon="pi pi-save" (click)= onUploadEsami() class="p-col-2 p-button-success"></button>

  
  </div>
</p-dialog>