
<app-menu-bar></app-menu-bar>


<div class="pannello" *ngIf="whoIsLogged=='paziente'">
  <div class="row">
    <div class="column col-sm-4">
        <app-prenotazione></app-prenotazione>
    </div>
    <div class="column col-sm-4">
        <app-dettagli-prenotazione></app-dettagli-prenotazione>
    </div>
    <div class="column col-sm-4">
        <app-richiesta-prenotazione></app-richiesta-prenotazione>
    </div>
  </div>
</div>

<div class="pannello" *ngIf="whoIsLogged=='segretaria'">
  <div class="row">
    <div class="column col-sm-8">
        <app-gestione-richieste-prenotazioni></app-gestione-richieste-prenotazioni>
    </div>
    <div class="column col-sm-4">
        <app-dettagli-prenotazione></app-dettagli-prenotazione>
    </div>
  </div>
</div>


<div class="pannello" *ngIf="whoIsLogged=='dottore'">
  <div class="row">
    <div class="column col-sm-8">
        <app-prenotazione></app-prenotazione>
    </div>
    <div class="column col-sm-4">
        <app-dettagli-prenotazione></app-dettagli-prenotazione>
    </div>
  </div>
</div>

