<div class="row">
<div class="column col-sm-4">
    <app-prenotazione></app-prenotazione>
</div>
<div class="column col-sm-4">

</div>
<div class="column col-sm-4">
    <input type="text" id="inputProblema" class="form-control" placeholder="Inserisci il tuo problema" [(ngModel)]="problema" value="problema">
    <select class="form-control" id="selectDottori">
        <option *ngFor="let dottore of dottori">
            {{dottore.nome}} {{dottore.cognome}}
        </option>
    </select>
    <button class="form-control" (click)=richiestaPrenotazione()>PRENOTATI</button>
</div>
</div>

