<div class= "container">
  <hr>
  <div class="row justify-content-md-center">
    <h2 class="text-center" id="title">Veterinary clinic </h2>
  </div>
     <hr>
</div>
<div class="row">
  <div class="column col-sm-4">
  </div>
  <div class="column col-sm-4">
    <div id="uno" class="registration-form">
      <p>Inserisci l'email associata al tuo account</p>
      <br>
      <input type="text" id="inputemail" class="form-control" placeholder="Email associato al tuo account" [(ngModel)]="email">
      <br>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon paziente" (click)=setTipo(1)>
              <span><i class="icon icon-user"></i></span>
            </div>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon dottore" (click)=setTipo(2)>
              <span><i class="icon icon-user"></i></span>  
            </div>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <div class="form-icon segretaria" (click)=setTipo(3)>
              <span><i class="icon icon-user"></i></span>            
            </div>
          </button>      
        </div>
      </div>
      <button class="form-control btn-registration" (click)=inviaCodice() >Conferma la tua email</button>
      <a href="login">Torna al Login</a>
  
    </div>
    <div class="registration-form " id="due" >
    
      <p>Inserisci il codice ricevuto via email</p>
      <br>
      <input type="text" id="inputemail" class="form-control" placeholder="Codice" [(ngModel)]="codice">
      <br>

      <button class="form-control btn-registration" (click)=mostraCambiaPassword() >Conferma Codice</button>
      
      <a href="login">Torna al Login</a>
  
    </div>
    <div class="registration-form " id="tre" >
    
      <p>Reimposta la password</p>
      <br>
      <input type="password" id="inputemail" class="form-control" placeholder="Nuova Password" [(ngModel)]="nuovaPassword">
      <br>
      <input type="password" id="inputemail" class="form-control" placeholder="Conferma Password" [(ngModel)]="confermaNuovaPassword">
      <br>

      <button class="form-control btn-registration" (click)=reimpostaPassword() data-toggle="modal" data-target="#exampleModal" >Reimposta password</button>
      
      <a href="login">Torna al Login</a>
  
    </div>
  </div>
  <div class="column col-sm-4">
  </div>

  <p-toast key="saved" position="bottom-right"></p-toast>
  <p-dialog header="Recupero Password" [(visible)]="display" [style]="{width: '40vw'}">
    Password reimpostata correttamente!
    <p-footer>
      <div class="p-dialog-footer ng-tns-c89-72 ng-star-inserted" style="">
        <p-button _ngcontent-seu-c90="" icon="pi pi-check" label="Ok" styleclass="p-button-text" class="ng-star-inserted">
          <button pripple="" class="p-button-text p-button p-component p-ripple" type="button">
            <span class="pi pi-check p-button-icon p-button-icon-left ng-star-inserted" aria-hidden="true">

            </span>
            <span class="p-button-label" aria-hidden="false">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Ok</font>
              </font>
            </span>
            <span class="p-ink"></span>
          </button>
        </p-button>
      </div>
  </p-footer>
  </p-dialog>
</div>

  
 


 
  
